<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /movie-ticketing/
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /movie-ticketing/index.php [L]
</IfModule>
